.App {
  text-align: center;
  font-family: "Newsreader", serif;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand :hover {
  color: black;
}

.navbar-brand a {
  color: black;
}

.navbar-nav a {
  color: black;
}

.navbar-nav a :hover {
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

textarea.form-control {
  width: 50%;
  margin-left: 25%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
